body{
    background: url("shutterstock-745709524.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* height: 100vh; */
    text-align: center;
}


h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    margin: 40px 0px 20px;
    margin-top: 400px;
}
.time-unit, .time-unit span{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 30px;
}

.new_link a{
    color: white;
    line-height: 450px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 30px;
    text-decoration: none;


}
